body {
    background-color: #000012;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Grid CSS */
#grid {
    height: 80vh;

    aspect-ratio: 1;

    border: #fff 3px solid;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell { 
    aspect-ratio: 1;
    width: 100%;

    border: #fff 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}