body {
    background-color: #000012;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Grid CSS */
#grid {
    height: 70vh;

    aspect-ratio: 1;

    border: #fff 3px solid;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell { 
    aspect-ratio: 1;
    width: 100%;

    border: #fff 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

  
#timer  {
  transform: translate(-50%, 0%);
  mask-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)10% 90%, rgba(0,255,0,0));
  left: 65vw;
  position: absolute;

  width: 150px;
  height: 100px;
  padding: 10px;
  
  font-size: 5rem;
  word-wrap: break-word;
}

#mines  {
  mask-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1)10% 90%, rgba(0,255,0,0));
  left: 35vw;
  transform: translate(-50%, 0%);
  position: absolute;

  width: 100px;
  height: 90px;
  padding: 10px;
  
  font-size: 5rem;
  word-wrap: break-word;
}

.digit {
  position:absolute;
  width: 50px;
  transition: transform 0.3s ease;
}